<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form Results</title>
  </head>
  <body>
    <h1>Submited information</h1>
    <p>Name: <%= data.name %></p>
    <p>Dojo Location: <%= data.location %></p>
    <p>Favorite Language: <%= data.language %></p>
    <p>Comment: <%= data.comment %></p>
  </body>
</html>
